#slides{
    position: relative;
    height: 150px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.slide{
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1){
	background-size: cover;
	background-repeat: no-repeat;
	background-position:50% 50%;
    background-image: url(img/slide1.jpg);
}
.slide:nth-of-type(2){
background-size: cover;
	background-repeat: no-repeat;
	background-position:50% 75%;
	background-image: url(img/slide2.jpg);
}
.slide:nth-of-type(3){
background-size: cover;
	background-repeat: no-repeat;
	background-position:50% 30%;
	background-image: url(img/slide3.jpg);
}
.slide:nth-of-type(4){
background-size: cover;
	background-repeat: no-repeat;
	background-position:50% 30%;
	background-image: url(img/slide4.jpg);
}
.slide:nth-of-type(5){
background-size: cover;
	background-repeat: no-repeat;
	background-position:50% 55%;
	background-image: url(img/slide5.jpg);
}


#my_button{
	width:150px;
	height:45px;
	border-radius:20px;
	background-color:#3b6281;
	text-decoration:none;
	color:white;
	font-size:25px;
	outline:none;
	margin-left: 330px;
}
#my_button:hover{
	background-color:#639ac6;
}
#my_button:active{
	width:147px;
	height:42px;
	border-radius:23px;
	text-decoration:none;
	color:white;
	font-size:23px;
}

#my_button2{
	width:150px;
	height:45px;
	border-radius:20px;
	background-color:#ff0000;
	text-decoration:none;
	color:white;
	font-size:25px;
	outline:none;
	margin-left: 330px;
}
#my_button2:hover{
	background-color:#ff3333;
}
#my_button2:active{
	width:147px;
	height:42px;
	border-radius:23px;
	text-decoration:none;
	color:white;
	font-size:23px;
}


#my_button3{
	width:150px;
	height:45px;
	border-radius:20px;
	background-color:#ff0000;
	text-decoration:none;
	color:white;
	font-size:25px;
	outline:none;
	margin-left:10px;
}
#my_button3:hover{
	background-color:#ff3333;
}
#my_button3:active{
	width:147px;
	height:42px;
	border-radius:23px;
	text-decoration:none;
	color:white;
	font-size:23px;
}

#my_button_1{
	width:150px;
	height:45px;
	border-radius:20px;
	background-color:#3b6281;
	text-decoration:none;
	color:white;
	font-size:25px;
	outline:none;
	margin-left: 10px;
}
#my_button_1:hover{
	background-color:#639ac6;
}
#my_button_1:active{
	width:147px;
	height:42px;
	border-radius:23px;
	text-decoration:none;
	color:white;
	font-size:23px;
}

html,body{background:#f7f7f7;margin:0px;padding:0px;width:100%;height:100%;}
body{font-size:12px;color:#000;font-family:Tahoma, Verdana, Geneva, sans-serif;}
h1, h2, h3{font-weight:normal;color:#006699;}
h1 {margin-top:0;}
h3{text-transform:uppercase;text-align:center;font-size:18px;font-weight:bold;}
p{text-align:justify;}
a{color:#2a5dab;text-decoration:underline;}
a:hover{text-decoration:none;}
.watermark{
	z-index:2;
	line-height:25px!important;
}
#wraper{min-width:1130px;max-width:1130px;width:100%;margin:auto;}
#header{position:relative;padding-bottom:0px;padding-top:20px;height:115px;}
#header .logo{float:left;}
#header .contacts {width:300px;float:right;margin-right:0px;margin-top:0px;}
#header .phone {overflow:hidden;float:right;background:url('img/phone.png') no-repeat;padding-left:50px;padding-top:4px;height:36px;}
#header .schedule {position:relative;font-family:'Open Sans Condensed', 'Trebuchet MS', Arial, Helvetica, sans-serif;color:#68cdff;font-size:13px;line-height:16px;padding:4px 15px 2px 15px;border:1px solid #ccc;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;text-transform:uppercase;font-weight:bold;white-space:nowrap;text-align:center;background:#fff;margin-top:15px;margin-right:40px;width:120px;float:right;}
#header .number {display:block;color:#000000;font-weight:bold;font-size:28px;line-height:24px;letter-spacing:-1px;margin-top:1px;font-family:'Open Sans Condensed', 'Trebuchet MS', Arial, Helvetica, sans-serif;}
#header .topmenu{position:absolute;bottom:0;right:0;width:817px;}
#header .topmenu ul{list-style:none;height:40px;margin:0;padding:0;}
#header .topmenu li{float:left;width:135px;height:40px;text-align:center;border-right:1px solid #ccc;border-top:1px solid #ccc;}
#header .topmenu li:first-child{border-left:1px solid #ccc;}
#header .topmenu li a{font-weight:bold;font-size:13px;text-decoration:none;display:block;padding:12px 0 12px;}
#header .topmenu li a:hover{background:#4b4c4d;color:#fff;}
#main{overflow:hidden;background:#fff;border:1px solid #ccc;}
#left{float:left;width:210px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
#left .block{width:100%;display:block;background:#fff;}
#left p{font-weight:normal;font-size:12pt;color:#68cdff;text-transform:uppercase;margin:20px 0 12px 30px;}
#left .menu{overflow:hidden;padding-left:0px;padding-right:0px;}
#left .menu ul{padding-left:0px;margin:0px;}
#left .menu ul li{display:block;list-style-type:none;border-bottom:1px dashed #e7e7e7;}
#left .menu ul li:first-child{border-top:1px solid #e7e7e7;}
#left .menu ul li:last-child{border-bottom:0px;}
#left .menu ul li a{display:block;height:44px;}
#left .menu ul li a:hover{text-decoration:none;background-color:#e2f2ff;}
#left .menu ul li a span{display:block;padding:15px 10px 0 50px;color:#000000;font-size:0.9em;}
#left .menu ul li a div{display:block;padding:8px 10px 0 50px;color:#000000;font-size:0.9em;}
#left .e1 a{background:url('res/e1.png') no-repeat;}
#left .e1 a:hover{background:url('res/e1hover.jpg') no-repeat;}
#left .e1a a{background:url('res/e1hover.jpg') no-repeat;}
#left .e2 a{background:url('res/e6.jpg') no-repeat;}
#left .e2 a:hover{background:url('res/e6hover.jpg') no-repeat;}
#left .e2a a{background:url('res/e6hover.jpg') no-repeat;}
#left .e3 a{background:url('res/e20.jpg') no-repeat;}
#left .e3 a:hover{background:url('res/e20hover.jpg') no-repeat;}
#left .e3a a{background:url('res/e20hover.jpg') no-repeat;}
#left .e4 a{background:url('res/e2.jpg') no-repeat;}
#left .e4 a:hover{background:url('res/e2hover.jpg') no-repeat;}
#left .e4a a{background:url('res/e2hover.jpg') no-repeat;}
#left .e5 a{background:url('res/e3.jpg') no-repeat;}
#left .e5 a:hover{background:url('res/e3hover.jpg') no-repeat;}
#left .e5a a{background:url('res/e3hover.jpg') no-repeat;}
#left .e6 a{background:url('res/e4.jpg') no-repeat;}
#left .e6 a:hover{background:url('res/e4hover.jpg') no-repeat;}
#left .e6a a{background:url('res/e4hover.jpg') no-repeat;}
#left .e7 a{background:url('res/e13.jpg') no-repeat;}
#left .e7 a:hover{background:url('res/e13hover.jpg') no-repeat;}
#left .e7a a{background:url('res/e13hover.jpg') no-repeat;}
#left .e8 a{background:url('res/e5.jpg') no-repeat;}
#left .e8 a:hover{background:url('res/e5hover.jpg') no-repeat;}
#left .e8a a{background:url('res/e5hover.jpg') no-repeat;}
#left .e9 a{background:url('res/e7.jpg') no-repeat;}
#left .e9 a:hover{background:url('res/e7hover.jpg') no-repeat;}
#left .e9a a{background:url('res/e7hover.jpg') no-repeat;}
#left .e10 a{background:url('res/e8.jpg') no-repeat;}
#left .e10 a:hover{background:url('res/e8hover.jpg') no-repeat;}
#left .e10a a{background:url('res/e8hover.jpg') no-repeat;}
#left .e11 a{background:url('res/e9.jpg') no-repeat;}
#left .e11 a:hover{background:url('res/e9hover.jpg') no-repeat;}
#left .e11a a{background:url('res/e9hover.jpg') no-repeat;}
#left .e12 a{background:url('res/e10.jpg') no-repeat;}
#left .e12 a:hover{background:url('res/e10hover.jpg') no-repeat;}
#left .e12a a{background:url('res/e10hover.jpg') no-repeat;}
#left .e13 a{background:url('res/e11.jpg') no-repeat;}
#left .e13 a:hover{background:url('res/e11hover.jpg') no-repeat;}
#left .e13a a{background:url('res/e11hover.jpg') no-repeat;}
#left .e14 a{background:url('res/e12.jpg') no-repeat;}
#left .e14 a:hover{background:url('res/e12hover.jpg') no-repeat;}
#left .e14a a{background:url('res/e12hover.jpg') no-repeat;}
#left .e15 a{background:url('res/e15.jpg') no-repeat;}
#left .e15 a:hover{background:url('res/e15hover.jpg') no-repeat;}
#left .e15a a{background:url('res/e15hover.jpg') no-repeat;}
#left .e16 a{background:url('res/e14.jpg') no-repeat;}
#left .e16 a:hover{background:url('res/e14hover.jpg') no-repeat;}
#left .e16a a{background:url('res/e14hover.jpg') no-repeat;}
#left .e17 a{background:url('res/e16.jpg') no-repeat;}
#left .e17 a:hover{background:url('res/e16hover.jpg') no-repeat;}
#left .e17a a{background:url('res/e16hover.jpg') no-repeat;}
#left .e18 a{background:url('res/e17.jpg') no-repeat;}
#left .e18 a:hover{background:url('res/e17hover.jpg') no-repeat;}
#left .e18a a{background:url('res/e17hover.jpg') no-repeat;}
#left .e19 a{background:url('res/e18.jpg') no-repeat;}
#left .e19 a:hover{background:url('res/e18hover.jpg') no-repeat;}
#left .e19a a{background:url('res/e18hover.jpg') no-repeat;}
#left .e20 a{background:url('res/e19.jpg') no-repeat;}
#left .e20 a:hover{background:url('res/e19hover.jpg') no-repeat;}
#left .e20a a{background:url('res/e19hover.jpg') no-repeat;}
#left .e21 a{background:url('res/e21.jpg') no-repeat;}
#left .e21 a:hover{background:url('res/e21hover.jpg') no-repeat;}
#left .e21a a{background:url('res/e21hover.jpg') no-repeat;}
#left .e22 a{background:url('res/e22.jpg') no-repeat;}
#left .e22 a:hover{background:url('res/e22hover.jpg') no-repeat;}
#left .e22a a{background:url('res/e22hover.jpg') no-repeat;}
#left .e23 a{background:url('res/e23.jpg') no-repeat;}
#left .e23 a:hover{background:url('res/e23hover.jpg') no-repeat;}
#left .e23a a{background:url('res/e23hover.jpg') no-repeat;}
#left .e24 a{background:url('res/e24.jpg') no-repeat;}
#left .e24 a:hover{background:url('res/e24hover.jpg') no-repeat;}
#left .e24a a{background:url('res/e24hover.jpg') no-repeat;}
#content{float:left;width:865px;padding:15px 25px;}
#footer {padding-top:10px;padding-bottom:10px;clear:both;}
#footer .bottommenu{float:right;background:url(img/1.jpg.htm);margin-bottom:10px;padding:20px;}
#footer .col{font-weight:bold;float:right;margin-right:40px;border-left:1px solid black;}
#footer .col:last-child{border-left:0;}
#footer .col ul{list-style:none;margin:0}
#footer .bott {padding-left:0;}
#footer .bott li{border-left:1px solid black;display:inline;margin:0;padding:0 10px 0 10px;}
#footer .bott li:first-child{border-left-width:0;margin-left:0;}
#footer .stat{float:right;}
#footer .info{float:left;}
.block1 {margin-top: 30px;margin-bottom: 30px;}
.zakaz {font-size: 14px;color: #333;font-weight: bold;text-align:center;}
#mytable{width:650px;padding:0;margin:0;}
.prices caption{padding:0 0 5px 0;width:650px;text-align:right;}
.prices th{border-right:1px solid #c1dad7;border-bottom:1px solid #c1dad7;border-top:1px solid #c1dad7;text-align:right;padding:6px 6px 6px 12px;background:#FFE100;}
th.nobg{border-top:0;border-left:0;border-right:1px solid #c1dad7;background:none;}
.prices td{border-right:1px solid #c1dad7;border-bottom:1px solid #c1dad7;background:#fff;padding:6px 6px 6px 12px;width:60px;text-align:right;}
td.alt{background:#F5FAFA;color:#797268;vertical-align:middle;}
th.spec{width:400px;height:40px;border-left:1px solid #c1dad7;border-top:0;text-align:left;background:#fff;}
th.specalt{width:400px;height:40px;border-left:1px solid #c1dad7;border-top:0;text-align:left;background:#f5fafa;color:#797268;}
.list_benefits{padding-left:0px;}
.list_benefits li{font-size:16px;list-style-type:none;background:url(img/bullet3.png) no-repeat;padding-bottom:20px;padding-left:28px;}
.list_benefits li:last-child{padding-bottom:0px;}
.list p{
background:url(img/gal.png) no-repeat left center;
font-size:14px;
padding:5px 10px 5px 25px;
line-height:1.2em;}
.list-img{
float: left;
text-align:middle;
}
.list-txt{
margin-left: 180px;
margin-top: 10px;
}
.content td{vertical-align:top;}
.li li{padding-top: 10px;}
small{display:block;}
.box{padding:10px;display:block;clear:both;}
.btline{border-bottom:1px dotted #ccc;}
#service_online{position:relative;background-color:#68cdff;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;width:185px;text-align:center;float: right;}
#service_online .so_header{color:#ffffff;font-weight:bold;font:normal 12px/15px Arial;}
#service_online form{padding:12px 19px 8px 19px;margin-bottom:0;}
#service_online div{margin:4px 0;}
#service_online div.so_header{color:#ffffff;font-weight:bold;margin:4px 0 10px 0;color:#333333;}
#service_online input, #service_online textarea{position:relative;width:141px;padding:0 2px;height:22px;border:1px solid #9b9b9b;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;text-indent:3px;}
#service_online input{line-height:24px;}
#service_online textarea{height:45px;min-height:45px;max-height:45px;min-width:141px;max-width:141px;width:141px;overflow-y:auto;}
#service_online .so_submit{margin-top:6px;}
#service_online .so_submit input{cursor:pointer;text-indent:0;width:147px;background-color:#3d3e4d;color:#ffffff;padding-bottom:3px;height:28px;}
#service_online input, #service_online textarea{font-size:12px;font-family:Arial;background-position:2px 2px;background-repeat:no-repeat;}
/*
#service_online .so_phone input{background-image:url(img/so_phone.png);}
#service_online .so_name input{background-image:url(img/so_name.png);}
#service_online .so_problem textarea{background-image:url(img/so_problem.png);}
*/
.so_done{color:green;text-align:center;width:190px;}
.st_table{margin-bottom:20px;}
.st_table td,.st_table th{padding:5px;text-align:left;}
.st_table th{vertical-align:middle;padding:10px 5px;text-align:center;}
.services-block{vertical-align:middle;margin:20px 0px 60px 50px;overflow:hidden;}
.services-block-all{width:1100px;}
.services-block-el{position:relative;float:left;width:240px;margin:0px 5px 10px 0px;}
.services-block-el-img{position:absolute;left:0;top:0;}
.services-block-el-info{padding:0 0 0 50px;color:#605c5c;font-size:11px;ñline-height:17px;}
.services-block-el-info p{display:block;color:#2e2e2e;font:16px Trebuchet MS;text-decoration:none;margin:0;}
.services-block-el-info span{display:block;padding:2px 0 3px 0;color:#8e8e8e;font:12px Trebuchet MS;}
.price-serv{margin:8px 0 0 0;width:115px;height:32px;background:url(img/price.png);color:#f5f5f5;}
.price-serv span{display:block;padding:3px 8px;color:#f5f5f5;font-size:17px;}
.services-block-el-info a.detail-link{float:left;display:block;margin:8px 0 0 13px;width:58px;color:#075ea7;font:11px Arial;text-decoration:underline;}
.services-block-el-info a.detail-link:hover{text-decoration:none;}
img{border:0px;}
.phoneNum{color:#000;font-family:Tahoma, Geneva, sans-serif;font-weight:bold;}
.sp_btmn{margin:0px 7px 0px 7px;}
.tgb{background:#ededed;padding:0px;}
.time{font-size:10px;color:#626262;}
.float_left{position:relative;float:left;border:0px;}
.float_right{position:relative;float:right;border:0px;}
.float_none{position:relative;float:none;border:0px;}
.absolute{position:absolute;border:0px;}
.fixed{border:0px;}
.page_title{width:100%;margin:0px;overflow:hidden;}
.page_text{width:100%;background:#f0f0f0;padding:10px;margin:0px;overflow:hidden;}
.services{border-collapse:collapse;}
#box2 span{display:block;float:left;margin:0px;padding:0px;}
.mask{position:relative;width:280;height:180;overflow:hidden;}
span img{display:block;border:none;}
.mask img{position:absolute;display:block;border:none;}

.price{vertical-align:middle;width:740px;border-collapse:collapse;font-size:12px;text-align:left;}
.price tr:hover {background:#e9e9e9;}
.price td{border:1px dashed #ccc;padding:12px;}
.price th{border:1px dashed #ccc;padding:12px;background-color:#dae4f2;font-weight:bold;}
.price span{font-weight:bold;color:#2d7303;}

.primery{width:180px; height:110px;border:1px solid #ccc;
vertical-align:middle;
opacity:0.6;
-moz-opacity:0.6;
filter: alpha(opacity=60) black;
-khtml-opacity: 0.6;
background-color:#000;
}

.primery:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background-color:#000;
}
.podrobno {
padding: 40px 0 20px;
}
.red a{color:#2a5dab;text-decoration:underline;}
.red a:hover{text-decoration:none;color:red;
}
.orange a{color:#2a5dab;text-decoration:underline;}
.orange a:hover{text-decoration:none;color:orange;
}
.green a{color:#2a5dab;text-decoration:underline;}
.green a:hover{text-decoration:none;color:green;
}

.blue a{color:#2a5dab;text-decoration:underline;}
.blue a:hover{text-decoration:none;color:blue;
}






/*----Âûäåëåíèå êíîïîê ìåíþ----*/
.active {text-decoration:none;background-color:#e2f2ff;}
.top-menu a{background:#e9e9e9;color:black;}
.topmenua a{background:#4b4c4d;color:#fff;}

/*----Ïàãèíàöèÿ----*/
ul.tsc_pagination {  margin:44px 0 0 308px; padding:0px; height:100%; overflow:hidden; font:12px 'Tahoma'; list-style-type:none; }
ul.tsc_pagination li { float:left; margin:0px; padding:0px; margin-left:5px; }
ul.tsc_pagination li:first-child { margin-left:0px; }
ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }
ul.tsc_pagination li a img { border:none; }
ul.tsc_pagination li span { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }
ul.tsc_paginationB li a { border:solid 1px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:6px 9px 6px 9px; }
ul.tsc_paginationB li { padding-bottom:1px; }
ul.tsc_paginationB li a:hover,
ul.tsc_paginationB li a.current { color:#FFFFFF; box-shadow:0px 1px #EDEDED; -moz-box-shadow:0px 1px #EDEDED; -webkit-box-shadow:0px 1px #EDEDED; }
ul.tsc_paginationB li span { border:solid 1px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:6px 9px 6px 9px; }
ul.tsc_paginationB li span.current { color:#FFFFFF; box-shadow:0px 1px #EDEDED; -moz-box-shadow:0px 1px #EDEDED; -webkit-box-shadow:0px 1px #EDEDED; }
ul.tsc_paginationB02 li span { color:#0A7EC5; border-color:#8DC5E6; background:#F8FCFF; }
ul.tsc_paginationB02 li a { color:#0A7EC5; border-color:#8DC5E6; background:#F8FCFF; }
ul.tsc_paginationB02 li a:hover,
ul.tsc_paginationB02 li a.current { text-shadow:0px 1px #388DBE; border-color:#3390CA; background:#58B0E7; background:-moz-linear-gradient(top, #B4F6FF 1px, #63D0FE 1px, #58B0E7); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #B4F6FF), color-stop(0.02, #63D0FE), color-stop(1, #58B0E7)); }
ul.tsc_paginationB02 li span.current { text-shadow:0px 1px #388DBE; border-color:#3390CA; background:#58B0E7; background:-moz-linear-gradient(top, #B4F6FF 1px, #63D0FE 1px, #58B0E7); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #B4F6FF), color-stop(0.02, #63D0FE), color-stop(1, #58B0E7)); }